// Footer 
.footer {
    background-color: grey;
    grid-template-areas: ". footer .";
    grid-template-columns: 1fr minmax(800px, 1400px) 1fr;
    display: grid;
    grid-auto-rows: minmax(min-content, max-content);

    &__inner {
        padding: 4rem 1rem;
        display: grid;
        grid-area: footer;
        gap: 1rem;
        grid-template-columns: repeat(12, 1fr);
    }

    &__logo {
        grid-column: 5/9;
    }

    &__social {
        grid-column: 5/9;
    }

    &__copyright {
        grid-column: 5/9;
        text-align: center;
    }
}
