// Header 
.header {
    position: sticky;
    top: 0;
    z-index: 9999;
    grid-template-columns: 1fr minmax(800px, 1200px) 1fr;
    display: grid;
    grid-template-areas: ". header .";
    background-color: whitesmoke;
    
    &__inner {
        display: grid;
        gap: 2rem;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: 1fr;
        grid-area: header;
        padding: 0 1rem;
    }

    &__logo {
        display: none;
        justify-content: center;
        align-items: center;
        opacity: 0;
        transition: all .5s ease;
        
        .header__enter-logo & {
            grid-column: span 2;
            opacity: 1;
            display: flex;
        }
    } 
    
    &__nav {
        grid-column: 2/12;
        padding: 1rem 0;
        grid-template-columns: subgrid;
        display: grid;
        transition: all .5s ease;
        grid-column: 1/13;
        
        .header__enter-logo & {
            grid-column: 3/13;
        }

        .menu__item {
            grid-column: span 2;
            display: flex;
            padding: 1rem;
            background-color: var(--primary-color-light);
            justify-content: center;
            text-decoration: none;
            align-items: center;

            &:first-child {
                grid-column: 3/5;
            }

            &:hover {
                background-color: var(--primary-color-light);
                color: var(--primary-color-text);
            }
        }
    }
}
