.section {
    background-color: var(--primary-color);
    background-color: lightgrey;
    display: grid;
    grid-template-columns: 1fr minmax(0,1200px) 1fr;
    grid-template-rows: minmax(400px, 600px);
    grid-template-areas: ". middle .";
    overflow: hidden;
    
    &__inner {
        @include grid(12, 1fr, true);
        grid-area: middle;
        padding: 4rem;
    }

    &__content {
        padding: 2rem;
        position: absolute;
        background: rgba(0, 0, 0, 0.4);
        margin: 2rem;
    }

    &__title {
        font-size: 4rem;
        color: var(--primary-color-text);
        margin-bottom: 1rem;
    }
    
    &__text {
        color: var(--primary-color-text);
        margin-bottom: 1rem;
    }
    
    &__figure {
        object-fit: cover;
        grid-column: span 12;
        overflow: hidden;
        background-color: rgba(255, 255, 0, 0.352);
    }

    &__image {
        width: 100%;
        height: auto;
        object-fit: cover;
    }
}
