.section {
    background-color: var(--primary-color);
    background-color: lightgrey;
    display: grid;
    grid-template-columns: 1fr minmax(800px, 1200px) 1fr;
    grid-template-rows: minmax(400px, 600px);
    grid-template-areas: ". middle .";
    overflow: hidden;
    
    &__inner {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-area: middle;
        padding: 1rem;
    }

    &__content {
        padding: 2rem;
        position: absolute;
        background: rgba(0, 0, 0, 0.4);
        margin: 2rem;
    }

    &__title {
        font-size: 4rem;
        color: var(--primary-color-text);
        margin-bottom: 1rem;
    }
    
    &__text {
        color: var(--primary-color-text);
        margin-bottom: 1rem;
    }
    
    &__figure {
        grid-column: span 12;
        overflow: hidden;
    }

    &__image {
        width: 1162px;
        height: 465px;
        object-fit: cover;
    }
}
