// Typography
@use "vars";
@use "mixins";

html {
    font-family: var(--body-regular);
    font-size: 14px;

    @include mixins.tablet {
        font-size: 2vw;
    }

    @include mixins.desktop {
        font-size: 1rem;
    }
}

body {
    color: var(--body-colour);
}

a {
    text-decoration: none;
}

p {
    line-height: var(--line-height);
    font-family: var(--body-italic);
    font-kerning: normal;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--header-medium);
    line-height: var(--line-height);
    color: var(--header-colour);
}

li {
    line-height: var(--line-height);
}
