// Boxes
$goSize: 7vw;
$goValue: $goSize * 2;

.boxes {
  perspective: 0;
  
  &:hover {
    perspective: 400px;
    opacity: 1;
  }

  overflow: hidden;
  display: grid;
  grid-gap: 2.5vw;
  grid-template-columns: repeat(6, $goValue);
  grid-template-rows: repeat(auto-fill, $goValue);
  flex: 1 1 100%;

  &.scene {
    transform-style: preserve-3d;
    transform: translateZ(0) scale(1);
    transition: transform 1s;
    transition: all .5s ease;
    opacity: 0.3;
    flex: 1 1 auto;
    justify-items: center;

    &:nth-child(4) {
      z-index: 99999;
    }

    &:nth-child(5) {
      z-index: 9999;
    }

    &:nth-child(10) {
      z-index: 99999;
    }

    &:nth-child(11) {
      z-index: 9999;
    }

    &:nth-child(13) {
      z-index: 999;
    }

    &:nth-child(14) {
      z-index: 9999;
    }

    &:nth-child(15) {
      z-index: 99999;
    }

    &:nth-child(16) {
      z-index: 99999999;
    }

    &:nth-child(17) {
      z-index: 99999;
    }

    &:nth-child(18) {
      z-index: 9999;
    }

    &:nth-child(22) {
      z-index: 99999;
    }

    &:nth-child(23) {
      z-index: 9999;
    }
  }

  .cube {
    width: 100%;
    height: $goValue; 
    position: relative;
    grid-column: span 2;
    grid-row: span 2;
    grid-template-columns: subgrid;
  }

  .cube.show-front {
    transform: translateZ(-100px) rotateY(0deg);
  }

  .cube.show-right {
    transform: translateZ(-100px) rotateY(-90deg);
  }

  .cube.show-back {
    transform: translateZ(-100px) rotateY(-180deg);
  }

  .cube.show-left {
    transform: translateZ(-100px) rotateY(90deg);
  }

  .cube.show-top {
    transform: translateZ(-100px) rotateX(-90deg);
  }

  .cube.show-bottom {
    transform: translateZ(-100px) rotateX(90deg);
  }

  .cube__face {
    position: absolute;
    width: 100%;
    height: $goValue;
  }

  .cube__face--front {
    background: var(--cube1);
    transform: rotateY(0deg) translateZ($goSize);
  }

  .cube__face--right {
    background: var(--cube2);
    transform: rotateY(90deg) translateZ($goSize);
  }

  .cube__face--back {
    background: var(--cube3);
    transform: rotateY(180deg) translateZ($goSize);
  }

  .cube__face--left {
    background: var(--cube4);
    transform: rotateY(-90deg) translateZ($goSize);
  }

  .cube__face--top {
    background: var(--cube5);
    transform: rotateX(90deg) translateZ($goSize);
  }

  .cube__face--bottom {
    background: var(--cube6);
    transform: rotateX(-90deg) translateZ($goSize);
  }
}