// Cards
.cards {
    background-color: white;
    grid-template-areas: ". cards .";
    grid-template-columns: 1fr minmax(800px, 1200px) 1fr;
    display: grid;

    &__main {
        grid-area: cards;
        padding: 1rem;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: 1fr 1fr 1fr;
        grid-gap: 2rem;
    }

    .card {
        background-color: rgb(232, 232, 232);
        padding: 1rem;
        grid-column: span 6;
    }
}
