$size: 100px;
$small: $size / 2;
$side: 130px;
$tall: 466px;

.scene {
  perspective: 1000px;
  grid-column: span 12;
}

.cube {
  width: 100%;
  height: $tall;
  position: relative;
  transform-style: preserve-3d;
  transition: transform .4s;
  transform-origin: top;

  &.show-front {
    transform: rotateX(0deg);
  }
  
  &.show-back {
    transform: rotateX(-180deg);
  }
}

.cube__face {
  position: absolute;
  left: 2rem;
  top: 1rem;
  width: calc(100% - 4rem);

  &--front {
    background-color: var(--primary-color-text);
    transform: rotateY(0deg) translateZ($small);
    height: $tall;
  }
  &--right {
    background-color: var(--primary-color-text);
    transform: rotateY(90deg) translateZ(1051px);
    height: $tall;
    width: 104px;
  }
  &--back {
    background-color: var(--primary-color-text);
    transform: rotateY(180deg) translateZ($small);
    height: $tall;
  }
  &--left {
    background-color: var(--primary-color-text);
    transform: rotateY(-90deg) translateZ(52px);
    height: $tall;
    width: 104px;
  }
  &--top {
    background-color: var(--primary-color-text);
    transform: rotateX(90deg) translateZ(51px);
    height: 104px;
    width: 1100px;
  }
  &--bottom {
    background-color: var(--primary-color-text);
    background-color: red;;
    transform: rotateX(-90deg) translateZ(414px);
    height: 104px;
    width: 1100px;
  }
}
