// Logo
@use "vars";

.he-logo {
    width: 100%;
    max-width: 180px;

    &__link {
        align-items: center;
        color: var(--body-colour);
        cursor: pointer;
        display: flex;
        grid-column: 2 / 6;
        justify-content: center;
        overflow: hidden;
        width: 100%;

        &:hover svg {
            fill: vars.$primary;
        }
    }

    &__path {
        animation: logoStartUp 6s linear 1s forwards;
        fill-opacity: 0;
        fill: vars.$dark2;
        stroke-dasharray: 1000;
        stroke-dashoffset: 1000;
        stroke-width: 0.2px;
    }
}
