// Header 

.header {
    position: sticky;
    top: 0;
    z-index: 9999;
    grid-template-columns: 1fr minmax(0,1200px) 1fr;
    display: grid;
    grid-template-areas: ". middle .";
    background-color: whitesmoke;
    
    &__inner {
        backdrop-filter: blur(10px);
        @include grid(12, 1fr, true);
        grid-template-rows: 1fr;
        grid-area: middle;
    }

    &__logo {
        grid-column: span 2;
        display: flex;
        justify-content: center;
        align-items: center;
        display: none;

        .header__enter-logo & {
            display: flex;
        }
    } 

    &__nav {
        grid-column: span 10;
        padding: 1rem;
        grid-template-columns: subgrid;
        display: grid;

        .menu__item {
            grid-column: span 2;
            display: flex;
            padding: 1rem;
            background-color: var(--primary-color-light);
            justify-content: center;
            text-decoration: none;
            align-items: center;

            &:hover {
                background-color: var(--primary-color-light);
                color: var(--primary-color-text);
            }
        }
    }
}
