// Header 

.header {
    background-color: grey;
    padding: 1rem;

    &__inner {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: 1fr;
    }

    &__logo {
        grid-column: span 6;
        background-color: red;
        padding: 1rem;
    }
    
    &__nav {
        grid-column: span 6;
        background-color: yellow;
        padding: 1rem;
    }
}
