// Header 

.header {
    background-color: grey;
    position: sticky;
    top: 0;

    &__inner {
        @include grid(12, 1fr, true);
        grid-template-rows: 1fr;
    }

    &__logo {
        grid-column: span 2;
        display: flex;
        justify-content: center;
        align-items: center;
    } 

    &__nav {
        grid-column: span 10;
        background-color: rgb(151, 151, 0);
        padding: 1rem;
        grid-template-columns: subgrid;
        display: grid;

        .menu__item {
            grid-column: span 2;
            display: flex;
            padding: 1rem;
            background-color: white;
            justify-content: center;
            text-decoration: none;
        }
    }
}
