// Main

.main {
  background-color: grey;
  justify-content: center;
  align-items: center;
  display: flex;
  overflow: hidden;

  &__intro {
    grid-column: 3/11;
    grid-template-columns: subgrid;
    background-color: lightgray;
    padding: 1rem;
    z-index: 99999;
    justify-content: center;
    display: grid;
    grid-row: 2/3;
    position: absolute;
  }

  &__actions {
    grid-column: span 6;
    padding: 1rem;
    grid-template-columns: subgrid;
    grid-template-rows: subgrid;
    background-color: white;
  }
}
