// Main

.main {
    @include grid(12, 1fr, true);
    background-color: grey;
    // grid-template-rows: 10fr ato;
    
    &__inner {
        align-items: center;
        grid-column: 1/13;
        display: grid;
        grid-template-columns: subgrid;
        grid-template-rows: subgrid;
    }

    &__intro {
        grid-column: 3/11;
        grid-template-columns: subgrid;
        background-color: lightgray;
        padding: 1rem;
    }
    
    &__actions {
        grid-column: span 6;
        padding: 1rem;
        grid-template-columns: subgrid;
        grid-template-rows: subgrid;
        background-color: white;
    }
}
