.section {
    background-color: var(--primary-color);
    background-color: lightgrey;
    display: grid;
    grid-template-columns: 1fr minmax(0,1200px) 1fr;
    grid-template-rows: minmax(400px, 600px);
    grid-template-areas: ". middle .";
    overflow: hidden;
    
    &__inner {
        @include grid(12, 1fr, true);
        grid-area: middle;
        padding: 4rem;
        filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.4));
    }

    &__content {
        padding: 2rem;
        // grid-column: span 6;
        position: absolute;
        // backdrop-filter: blur(1px);
        background: rgba(0, 0, 0, 0.4);
        margin: 2rem;
    }

    // &--visible {
    //     .section__inner {
    //         transform: perspective(400px) rotateX(0) translateY(0px) translateZ(0px);
    //     }
    //     .section__content {
    //         transform: perspective(400px) rotateY(0) translateY(0px) translateZ(0px);
    //     }
    // }

    &__title {
        font-size: 4rem;
        color: var(--primary-color-text);
        margin-bottom: 1rem;
    }
    
    &__text {
        color: var(--primary-color-text);
        margin-bottom: 1rem;
    }
    
    &__figure {
        object-fit: cover;
        grid-column: span 12;
        overflow: hidden;
        background-color: rgba(255, 255, 0, 0.352);
    }

    &__image {
        width: 100%;
        height: auto;
        object-fit: cover;
    }
}
