.section {
    background-color: hotpink;
    display: grid;
    grid-template-columns: 1fr minmax(0,1200px) 1fr;
    grid-template-rows: minmax(400px, 600px);
    grid-template-areas: ". middle .";

    &__title {
        font-size: 4rem;
    }
    
    &__inner {
        padding: 5rem 1rem;
        @include grid(12, 1fr, true);
        grid-area: middle;
    }

    &__content {
        grid-column: span 6;
    }
    
    &__figure {
        object-fit: cover;
        grid-column: span 6;
        overflow: hidden;
    }
}
