// Vars
$side-spacing: 1.5rem;
$spacing: 1rem;
$pop-grey-light: #ccc;
$pop-grey-mid: #eee;
$pop-white: #fff;
$pop-alert: #da0000;
$pop-success: #178c22;


:root {
    --side-spacing: 1.5rem;
    --spacing: 1rem;
    --pop-grey-light: #ccc;
    --pop-grey-mid: #eee;
    --pop-white: #fff;
    --pop-alert: #da0000;
    --pop-success: #178c22;
  }
